body {
  background-color: #533549;
  color: aliceblue;
}
.modal-bg {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  overflow: auto;
  z-index: 1;
}
.modal-content {
  margin: 15% auto;
  color: gray;
  font-family: sans-serif;
  background-color: white;
  width: 30%;
  padding: 20px;
  border: 1px solid black;
}
.close,
.close1,
.close2 {
  color: grey;
  float: right;
  font-size: 28px;
  font-weight: bold;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#h1 {
  text-align: center;
  font-family: serif;
  font-weight: 50;
}
.m1i {
  font-family: serif;
  font-weight: 100;
}
form {
  border-top: 1px solid grey;
  width: 90%;
  top: 0;
  margin: 0%;
}
input {
  width: 100%;
  padding: 15px;
  border: none;
  background-color: whitesmoke;
}
#msi {
  background-color: green;
  color: white;
  font-family: sans-serif;
  cursor: pointer;
  padding: 15px;
  width: 100%;
  text-align: center;
  position: relative;
  top: 10px;
  left: 1%;
}
.nm {
  text-align: center;
  margin-top: 15px;
}
/*   ---------------For redirecting sign in to sign up modal -------------------  */
#redirect {
  color: blue;
  cursor: pointer;
}
/*   ---------------End Of header part -------------------  */
.title {
  text-align: center;
  padding: 0px 50px 50px 50px;
  font-family: sans-serif;
  border-color: blanchedalmond;
}

.author-name {
  float: left;
  font-family: monospace;
  font-weight: lighter;
  padding: 0px 60px 0px 60px;
}
.edit-button {
  float: right;
}

.edit-button button {
  background-color: #dc143c;
  border: none;
  color: white;
  padding: 12px 28px 12px 28px;
  text-decoration: none;
  margin: 0px 60px 0px 60px;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
}

.like-button button {
  background-color: #dc143c;
  border: none;
  color: white;
  padding: 12px 28px 12px 28px;
  text-decoration: none;
  margin: 0px 0px 0px 60px;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
}

.like-button p {
  padding: 16px 0px 16px 0px;
  margin: 0px 0px 0px 60px;
}
.comments input[type="text"] {
  width: 90%;
  height: 100px;

  box-sizing: border-box;
}

.comments {
  margin: 30px;
  padding: 30px;
}

.new-comments {
  background-color: grey;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.single-comment {
  background-color: white;
  padding: 20px;
  margin: 10px;
  color: black;
}

.comments button {
  background-color: #dc143c;
  border: none;
  color: white;
  padding: 12px 28px 12px 28px;
  text-decoration: none;
  margin: 60px 0px 0px 0px;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
}

.blogpost {
  padding: 60px;
}

.save-button {
  float: right;
}

.save-button button {
  display: none;
  background-color: #ff4d4d;
  border: none;
  color: white;
  padding: 16px 32px 16px 32px;
  text-decoration: none;
  margin: 0px 60px 0px 60px;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
}
